<table class="bordered striped centered responsive-table">
    <thead>
        <tr>
            <th>TOTAL.PAYING.CUSTOMERS</th>
            <th>TOTAL.NUMBER.OF.ISSUES</th>
            <th>TOTAL.OPEN.ISSUES</th>
            <th>TOTAL.CLOSED.ISSUES</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="totalPayingCustomers"></td>
            <td class="totalNumberIssues"></td>
            <td class="totalOpenIssues"></td>
            <td class="totalClosedIssues"></td>
        </tr>
    </tbody>
</table>