<div class="row">
    <div class="col s12">
        <div class="card-panel hoverable z-depth-3">
            <h4 class="header center grey-text text-darken-3 thin">DATA.VIEW</h4>
            <div class="row center">
                <label style="color: darkslategrey; font-size: smaller;" class="center">A list of all issues in a filterable and sortable table.</label>
            </div>
            <div class="divider"></div>            
            {{sf-table table=model }}
        </div>
    </div>
</div>